<div>
  <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Course</th>
        </tr>
        <tr *ngFor="let s of studentList">
          <td>{{s.id}}</td>
          <td>{{s.sname}}</td>
          <td>{{s.course}}</td>
          <td>
            <button type="button" class="btn btn-success" routerLink="['/info',s.id]">info Student</button>

            <button type="button" class="btn btn-success" routerLink="['/edit',s.id]">Update Student</button>
            <button type="button" class="btn btn-danger" (click)="deleteStudent(s.id)">Delete Student</button>

          </td>
        </tr>
      </table>

</div>