<div class="d-flex justify-content-center gap-5">
    <div class="d-flex flex-column rounded-3 justify-content-center align-items-center p-4 fs-4" style="background-color: rgb(231, 233, 153);">
        <label>Search Employee By Id</label> &nbsp;&nbsp;
        <input type="number" #empid> &nbsp;&nbsp;
        <button class="btn btn-success" type="button" (click)="getEmployeeById(empid.value)">Find the Employee</button>
    </div>
    
    <div>
        <div>
        <h1>Update Employee</h1>
    </div>
        <form [formGroup]="employeeForm" (ngSubmit)="updateEmployee()">

            <div>
                <label class="form-label">Employee Id:</label>
                <input type="number" class="form-control" formControlName="empid" readonly>
            </div>

            <div>
                <label class="form-label">Employee Name:</label>
                <input type="text" class="form-control" formControlName="empname">
                <div *ngIf="employeeForm.get('empname')?.touched && employeeForm.get('empname')?.invalid"
                class="text-danger">
                    <div *ngIf="employeeForm.get('empname')?.errors?.['required']">employee name is required</div>
                    <div *ngIf="employeeForm.get('empname')?.errors?.['minlength']">employee name must be 3 more than 3 characters</div>
                </div>
            </div>

            <div>
                <label class="form-label">Technology: </label>
                <input type="text" class="form-control" formControlName="emptech">
                <div *ngIf="employeeForm.get('emptech')?.touched && employeeForm.get('emptech')?.invalid"
                class="text-danger">
                    <div *ngIf="employeeForm.get('emptech')?.errors?.['required']"> Technologyis required</div>
                </div>
            </div>

            <div>
                <label class="form-label">Phone No:</label>
                <input type="text" class="form-control" formControlName="empphone">
                <div *ngIf="employeeForm.get('empphone')?.touched && employeeForm.get('empphone')?.invalid"
                class="text-danger">
                    <div *ngIf="employeeForm.get('empphone')?.errors?.['required']">phone number is required</div>
                    <div *ngIf="employeeForm.get('empphone')?.errors?.['minlength']">phone number must be 10 chars</div>
                </div>
            </div>
                <br>
            <div class="d-flex flex-column gap-3">
                <button type="submit" [ngClass] = "employeeForm.valid?'btn btn-success' : 'btn btn-danger'">Update</button>
                <button class="btn btn-primary cursor:pointer" routerLink="/add">Add Employee</button>
            </div>
        </form>
    </div>
</div>